<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.jjoe64.graphview"
      android:versionCode="15"
      android:versionName="4.2.1">
    <uses-sdk android:targetSdkVersion="24" android:minSdkVersion="9"></uses-sdk>

    <application>
    </application>
</manifest>
